/* original */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-card {
  border: 100px solid #ccc;
  padding: 16px;
  width: 200px;
}

.filter-select {
  width:200px
}

.filter-row {
  background-color: yellow;
}

.filter-cell {
  display: flex;
}

@media (max-width: 600px) {
  .product-grid {
    flex-direction: column;
    align-items: center;
  }
}
